In [1]:
import pandas as pd
import numpy as np
import re

from sqlalchemy import create_engine
import psycopg2

from config import db_password

import time

In [2]:
file_dir = 'C://Users/Andrew/Documents/GitHub/2020_Election_Results/Database/'

In [3]:
# Load in raw swing state survey results
survey_raw_df = pd.read_csv(f'{file_dir}Semi_Clean_US_Swing_States.csv',low_memory=False)
survey_raw_df.head()
# results in DF with over 233 columns. Need to clean upi for relevant columns.

,id,token,submitdate,Mode,Q1,Q2,Q3,Q4,Q4_other,Q5,...,Q67,Q68,Q69,Q70,Q71,Q72,Q73,Q74,Q75,Q76
0,2159,Kpeu3QfgDYIq3VH8,10/5/2020,4,2,23,48532,2,,27,...,1,3,1,1,3,1,1,1,1,1
1,502,Kpeu3QfgDYINysIK,9/30/2020,4,2,10,33066,2,,45,...,2,3,1,2,3,2,3,3,3,4
2,468,Kpeu3QfgDYJwcFA_,9/30/2020,4,2,10,32955,1,,33,...,2,3,1,3,2,2,4,1,1,1
3,434,Kpeu3QfgDYInRbTj,9/30/2020,4,2,10,33613,2,,36,...,1,1,3,2,4,2,4,4,2,2
4,352,Kpeu3QfgDYKzJhbK,9/30/2020,4,2,23,48186,1,,40,...,1,1,8,2,3,1,2,4,3,3

In [4]:
# list columns
survey_raw_df.columns.tolist()

['id',
 'token',
 'submitdate',
 'Mode',
 'Q1',
 'Q2',
 'Q3',
 'Q4',
 'Q4_other',
 'Q5',
 'Q6',
 'Q6_other',
 'Q7',
 'Q8',
 'Q9',
 'Q10',
 'Q11',
 'Q12',
 'Q13',
 'Q13Someone_5',
 'Q13Someone_6',
 'Q14',
 'Q14_other',
 'Q15',
 'Q15_other',
 'Q16',
 'Q17',
 'Q18',
 'Q19',
 'Q20',
 'Q21',
 'Q22',
 'Q22_other',
 'Q23',
 'Q24',
 'Q25',
 'Q26',
 'Q27',
 'Q28',
 'Q29',
 'Q30',
 'Q31',
 'Q32',
 'Q33',
 'Q34',
 'Q35',
 'Q36',
 'Q37',
 'Q38',
 'Q39',
 'Q40',
 'Q41',
 'Q42',
 'Q43',
 'Q44',
 'Q45',
 'Q46',
 'Q47',
 'Q48',
 'Q49',
 'Q50',
 'Q51',
 'Q52',
 'Q53',
 'Q54',
 'Q55',
 'Q56',
 'Q57',
 'Q58',
 'Q59',
 'Q60',
 'Q61',
 'Q62',
 'Q63',
 'Q64',
 'Q65',
 'Q66',
 'Q67',
 'Q68',
 'Q69',
 'Q70',
 'Q71',
 'Q72',
 'Q73',
 'Q74',
 'Q75',
 'Q76']

In [5]:
# create filter expression to remove mostly NULL columns
# 1. list comprehension to see null columns with 90% values (i.e. columns to keep)
survey_data_to_keep = [column for column in survey_raw_df.columns if survey_raw_df[column].isnull().sum() < len(survey_raw_df) * 0.9]
survey_clean = survey_raw_df[survey_data_to_keep]
survey_clean.head()

,id,token,submitdate,Mode,Q1,Q2,Q3,Q4,Q4_other,Q5,...,Q67,Q68,Q69,Q70,Q71,Q72,Q73,Q74,Q75,Q76
0,2159,Kpeu3QfgDYIq3VH8,10/5/2020,4,2,23,48532,2,,27,...,1,3,1,1,3,1,1,1,1,1
1,502,Kpeu3QfgDYINysIK,9/30/2020,4,2,10,33066,2,,45,...,2,3,1,2,3,2,3,3,3,4
2,468,Kpeu3QfgDYJwcFA_,9/30/2020,4,2,10,32955,1,,33,...,2,3,1,3,2,2,4,1,1,1
3,434,Kpeu3QfgDYInRbTj,9/30/2020,4,2,10,33613,2,,36,...,1,1,3,2,4,2,4,4,2,2
4,352,Kpeu3QfgDYKzJhbK,9/30/2020,4,2,23,48186,1,,40,...,1,1,8,2,3,1,2,4,3,3

In [8]:
# create output data file
survey_data = f'{file_dir}Clean_survery_data.csv'
# export cleaned data to csv
survey_clean.to_csv(survey_data, index_label="id")

In [9]:
# upload data to postgres.
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/election2020_data"

In [10]:
engine = create_engine(db_string)
survey_clean.to_sql(name='survey', con=engine)